@model IEnumerable<NewToViewModel>
@inject ICloudinaryService _cloudinaryService
@{
    ViewData["Title"] = "Newto";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Newto</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Vəziyyəti</th>
                            <th>Başlıq</th>
                            <th>Mətn</th>
                            <th>Entry</th>
                            <th>Şəkil</th>
                            <th>Şəkil teksdi</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Vəziyyəti</th>
                            <th>Başlıq</th>
                            <th>Mətn</th>
                            <th>Entry</th>
                            <th>Şəkil</th>
                            <th>Şəkil teksdi</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.Status)
                                    {
                                        <span class="badge badge-success">Aktiv</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-warning">Passiv</span>
                                    }
                                </td>
                                <td>@item.Title</td>
                                @if (item.Text.Length > 55)
                                {
                                    <td>@item.Text.Substring(0, 54).ToString() ...</td>
                                }
                                else
                                {
                                    <td>@item.Text</td>
                                }
                                <td>@item.Entry</td>
                                <td>
                                    <img width="100" src="@_cloudinaryService.BuildUrl(item.Image)" />
                                </td>
                                <td>@item.ImageText</td>
                                <td class="d-flex justify-content-center">

                                    <a class="btn btn-info btn-circle btn-sm" asp-action="edit" asp-route-id="@item.Id">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
