@model ServiceListViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- start page-title --> 
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Service single</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Service single</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start service-single-section -->
<section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="service-single-tab">
                    <ul class="nav tab-links clearfix">
                        @foreach (var item in Model.Services)
                        {
                            <li class="@(item.Id==Model.ActiveService.Id?"active":"")">
                                <a href="#@item.Id" data-toggle="tab">
                                    <i class="@item.Logo"></i>
                                    <h3>@item.Name</h3>
                                </a>
                            </li>
                        }
                    </ul>

                    <div class="tab-content">
                        @foreach (var item in Model.Services)
                        {
                            <div class="tab-pane @(item.Id==Model.ActiveService.Id?"fade active in":"")" id="@item.Id">
                                <div class="content-area clearfix">
                                    <div class="grid info-grid">
                                        <h3>@item.ServiceDetails.First().Title</h3>
                                        <p>@item.ServiceDetails.First().Text</p>
                                        <p><strong>@item.ServiceDetails.First().Description</strong></p>
                                        <table>
                                            <tbody>
                                                @foreach (var specs in item.ServiceSpecs)
                                                {
                                                    <tr>
                                                        <td>@specs.Key</td>
                                                        <td>@specs.Value</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="grid">
                                        <img src="~/images/service-single/@item.ServiceDetails.First().Image">
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <div class="text">
                                        <h4>Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine</h4>
                                        <p>Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather</p>
                                    </div>
                                    <div class="pdf-dwn-area">
                                        <a href="#">
                                            <i class="ti-receipt"></i>
                                            <h5>General Insurance Conditions</h5>
                                            <p>Document size: 34kb</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="features-grid clearfix">
                                    <div class="grid">
                                        <div class="icon">
                                            <i class="fi flaticon-house"></i>
                                        </div>
                                        <h3>House protected</h3>
                                        <p>Window at the dull weather</p>
                                    </div>
                                    <div class="grid">
                                        <div class="icon">
                                            <i class="fi flaticon-umbrella-1"></i>
                                        </div>
                                        <h3>Helth protected</h3>
                                        <p>Window at the dull weather</p>
                                    </div>
                                    <div class="grid">
                                        <div class="icon">
                                            <i class="fi flaticon-cost"></i>
                                        </div>
                                        <h3>Small Premium</h3>
                                        <p>Window at the dull weather</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end service-single-section -->
<vc:testimonial></vc:testimonial>
