@model ServiceListViewModel
@{
    ViewData["Title"] = "Service";
}

    <partial name="Extract/_PageBanner" />
<!-- start service-single-section -->
<section class="service-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="service-single-tab">
                    <ul class="nav tab-links clearfix">
                        @foreach (var item in Model.Services)
                        {
                            <li class="@(item.Id==Model.ActiveService.Id?"active":"")">
                                <a href="#@item.Id" data-toggle="tab">
                                    <i class="@item.Logo"></i>
                                    <h3>@item.Name</h3>
                                </a>
                            </li>
                        }
                    </ul>

                    <div class="tab-content">
                        @foreach (var item in Model.Services)
                        {
                            <div class="tab-pane @(item.Id==Model.ActiveService.Id?"fade active in":"")" id="@item.Id">
                                <div class="content-area clearfix">
                                    <div class="grid info-grid">
                                        <h3>@item.Title</h3> 
                                        <p>@item.Text</p>
                                        <table>
                                            <tbody>
                                                @foreach (var specs in item.ServiceSpecs)
                                                {
                                                    <tr>
                                                        <td>@specs.Key</td>
                                                        <td>@specs.Value</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="grid">
                                        <img src="~/images/service-single/@item.Image">
                                    </div>
                                </div>
                                <div class="features-grid clearfix">
                                    <div class="grid">
                                        <div class="icon">
                                            <i class="fi flaticon-house"></i>
                                        </div>
                                        <h3>House protected</h3>
                                        <p>Window at the dull weather</p>
                                    </div>
                                    <div class="grid">
                                        <div class="icon">
                                            <i class="fi flaticon-umbrella-1"></i>
                                        </div>
                                        <h3>Helth protected</h3>
                                        <p>Window at the dull weather</p>
                                    </div>
                                    <div class="grid">
                                        <div class="icon">
                                            <i class="fi flaticon-cost"></i>
                                        </div>
                                        <h3>Small Premium</h3>
                                        <p>Window at the dull weather</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end service-single-section -->
<vc:testimonial></vc:testimonial>
