@model AboutCompanyViewModel

@{
    ViewData["Title"] = "About Us";
}
<partial name="Extract/_PageBanner" />
<!-- start about-section-s4 -->
<section class="about-section-s4 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-3">
                <div class="section-title mt">
                    <span>About us</span>
                    <img src="~/images/logo-3.png">
                </div>
            </div>
            <div class="col col-md-5">
                <div class="details-text mt">
                    <h4>@Model.Title</h4>
                    <p>@Model.Text</p>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="features-grid clearfix">
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-money-bag"></i>
                        </div>
                        <h3>Make a Claim</h3>
                        <p>You can claim you money</p>
                    </div>
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-agent"></i>
                        </div>
                        <h3>Find an Agent</h3>
                        <p>Want an agent?</p>
                    </div>
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-cost"></i>
                        </div>
                        <h3>Pay Premium</h3>
                        <p>Pay your premium now</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-section-s4 -->
<!-- stat fun-fact-section -->
<section class="fun-fact-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="fun-fact-area">
                    <div class="fun-fact-grids clearfix">
                        @foreach (var item in Model.Encourages)
                        {
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="@item.Count">00</span>+</h3>
                                    <p>@item.Title</p>
                                    <p>@item.Description</p>
                                    <a href="#" class="theme-btn-s3">@item.EncActionText</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end fun-fact-section -->
<vc:agent></vc:agent>
<vc:testimonial></vc:testimonial>
<vc:brands></vc:brands>